  <!-- Footer -->
  <div class="footer">
    <ion-grid>
      <ion-row>
        <ion-col class="center" [size]="screenSer.size.md_up ? '3' : '12'">
          <h1>Growth With You!</h1> 
        </ion-col>
        <ion-col [size]="screenSer.size.md_up ? '5' : '12'">
          <ion-list>
            <h2 class="ion-margin-start">References</h2>
            <ion-item>
              <ion-label>
                <p>Kong Ratha</p>
                <p>Position: Chief of mechanical division at EDC,C7 (Electricité Du Cambodge)</p>
                <p>Work At: Electricité  Du Cambodge</p>
                <p>Phone: +855 86 506 021</p>
                <p>Email: rathakong.kth27@gmail.com</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <p>Liem Leakhena</p>
                <p>Position: Country Director</p>
                <p>Work At: GIBTK Organization</p>
                <p>Phone: +855 17 822 133 / 86 377 749</p>
                <p>Email: leakhena@givingitbacktokids.org</p>
              </ion-label>
            </ion-item> 
          </ion-list>
        </ion-col>
        <ion-col [size]="screenSer.size.md_up ? '4' : '12'">
          <ion-list>
            <h2 class="ion-margin-start">Lanuages</h2>
            <ion-item>
              <ion-label>Khmer</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>English</ion-label>
            </ion-item> 
          </ion-list>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>