
<ion-content>
  <div style="margin: 0 auto; min-width: 50%;">
    <ion-card style="background-color: whitesmoke; max-height: 680px">
      <ion-card-header class="item-center">
        <div>
          <img src="assets/icon/florist.png" alt="" style="width: 25px; height: 25px;">
          <h2 class="ion-text-center" 
              style="
                display: inline; 
                color: gray; 
                font-weight: bold; 
                border-bottom: 3px dashed pink;
                ">
              WELLCOME
          </h2>
          <img src="assets/icon/florist.png" alt="" style="width: 25px; height: 25px;">
        </div>
      </ion-card-header>
      <ion-card-content>
        <ion-list style="background: transparent;">
        <ion-item class="item-center" lines="none" style="--background: transparent !important;">
          <div style="position: relative; margin: auto;">
            <div style="position: absolute; top: 13%;">
              <h2 style="font-weight: bold;">MEMORY BOOK</h2><br>
              <img src="assets/images/minea2.jpg" alt="" style="width: 70%; height: 70%;"><br>
              <ion-button style="--background: pink; color: white;" class="ion-text-capitalize" (click)="clickMe()">Click Me!</ion-button>
            </div>
            <img src="assets/images/book-cover.jpg" alt="" style="height: 600px;">
          </div>
        </ion-item>
      </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
